nav  {
    background: #f9f8f0;
}
nav .navbar-nav a {
    font-size: 16px;
    color: black;
    padding-right: 27px !important;
    text-transform: uppercase;
    font-family: 'medium';
    white-space: nowrap;
    display: flex;
    align-items: center;
}

nav .navbar-nav a:hover {
    color: var(--primary);
}

.topHeader {
    background-image: url(../public/Images/Common/headerbg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.topHeader .promotion .promotion_logo {
    top: -20px;
}

.topHeader .promotion .promotion_content {
    margin-left: 125px;
}


@media screen and (max-width: 767px) {
    .topHeader .addNow {
        margin: auto;
    }
    .topHeader .promotion .promotion_logo {
        display: none;
        visibility: hidden;
    }
    .topHeader .promotion .promotion_content {
        margin-left: unset;
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .topHeader .addNow {
        margin: auto;
    }
    
}
@media (min-width: 992px) and (max-width: 1199px){
    nav .navbar-nav a {
        font-size: 14px;
        padding-right: 10px !important;
    }
}