.mainPage {
    background-image: url(../public/Images/heroBanner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

/* hero section */
.mainPage .heroSection .title h1 {
    text-align: center;
    text-transform: capitalize;
    color: var(--primary);
    font-family: 'bold';
    position: relative;
}

.mainPage .heroSection .searchbar {
    max-width: 800px;
    margin: auto;
}

.mainPage .heroSection .searchbar form {
    box-shadow: 0px 18px 36px rgba(27, 65, 201, 0.12), 0px 8px 24px rgba(27, 65, 201, 0.08);
}

.mainPage .heroSection .searchbar .submit_button {
    color: var(--primary);
    background: var(--gold);
    border: 0;
    border-radius: var(--common-round);
    font-size: 16px;
    font-family: medium;

}

.mainPage .heroSection .searchbar .form-control,
.mainPage .heroSection .searchbar .form-control:focus {
    border: 0;
    height: 64px;
    box-shadow: none;
    border-radius: var(--common-round);
}

.mainPage .heroSection .searchbar .form-control::placeholder {
    color: var(--dark);
    font-size: 16px;
    opacity: 0.5;
}



.tableData {
    background: #F5F6F9;
    padding-bottom: 14rem;
}


/* tab filter */

.tabSelect button {
    color: var(--primary);
    background: var(--white);
    padding: 16px 20px;
    border: none;
    border-radius: var(--common-round);
    font-family: 'medium';
    transition: var(--transition-all-3);
    text-transform: uppercase;

}

.tabSelect button.active,
.tabSelect button:hover {
    color: var(--white);
    background: var(--primary);
}

/* category filter */

.categorySelect .form-select,
.categorySelect .form-select:focus {
    padding: 16px 20px;
    width: 350px;
    box-shadow: none;
    border: none;
}

/* table content */

.table_content .table>:not(caption)>*>* {
    border: 0;
    vertical-align: middle;
    padding: 40px 25px;
}


.table_content  tbody tr {
    background: rgb(255, 255, 255);
    border-bottom: 30px solid #F5F6F9;;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */

}

.table_content tbody tr td:first-child {
    max-width: 200px;
    min-width: 300px;
}
.table_content  tbody tr td:nth-child(3) {
    min-width: 230px;
 }

table tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}

table tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}

table tr:first-child td:first-child {
    border-radius: 10px 0 0 0;
}

table tr:first-child td:last-child {
    border-radius: 0 10px 0 0;
}

.table_content .userImage img:not(:first-child) {
    margin-left : -24px;
}

/* table content tag button */

.table_content .tag button {
    padding: 7px 16px;
    box-shadow: none;
    border: none;
    border-radius: 5px 5px 0px 5px;
    color: var(--white);
    font-size: 14px;
    text-transform: uppercase;
}

/* paggination */
.paggination .page-item {
    margin-right: 10px;
}

.paggination .page-item a {
    background: var(--white);
    color: var(--primary);
    font-size: 16px;
    font-family: 'medium';
    border-radius: 3px;
    box-shadow: none;
    border: none;

}

.paggination .page-item:last-child .page-link,
.paggination .page-item:first-child .page-link {
    border-radius: 3px;
}

.paggination .active>.page-link,
.paggination .page-link.active {
    background: var(--primary);
    color: var(--gold);
    border-radius: 3px;
}

@media screen and (max-width: 767px) {
    .tabSelect button {
        margin-bottom: 16px;
    }
    .table_content  tbody tr td:first-child {
        min-width: 400px;
     }
    .table_content  tbody tr td:nth-child(3) {
        min-width: 230px;
     }
   
}

@media (min-width: 768px) and (max-width: 991px) {
    .table_content tbody tr td:first-child {
       min-width: 400px;
    }
    .table_content  tbody tr td:nth-child(3) {
        min-width: 230px;
     }
}
